$black:   #fff !default;
$red:     hsl(0, 100%, 40%) !default;
$brown:   hsl(20, 50%, 40%) !default;
$orange:  hsl(30, 100%, 45%) !default;
$yellow:  hsl(50, 100%, 47%) !default;
$olive:   hsl(68, 75%, 45%) !default;
$green:   hsl(100, 70%, 40%) !default;
$teal:    hsl(160, 60%, 45%) !default;
$blue:    hsl(200, 80%, 45%) !default;
$navy:    hsl(220, 70%, 40%) !default;
$indigo:  hsl(240, 50%, 50%) !default;
$violet:  hsl(275, 50%, 50%) !default;
$magenta: hsl(315, 50%, 45%) !default;
$pink:    hsl(330, 60%, 50%) !default;
$white:   #fff !default;
